body{
    background-image: linear-gradient(124deg, rgba(90, 186, 221, 0.1) 10%, rgba(249, 134, 157, 0.5) 52%),linear-gradient(100deg, rgba(36, 93, 150, 0.6319295042078839) 13%, rgba(255, 188, 201, 0.5) 140%),linear-gradient(153deg, rgba(0, 11, 175, 0.18207677011354928) 82%, rgba(247, 175, 182, 0.5) 137%),linear-gradient(32deg, rgba(57, 90, 163, 0.8397531329593673) 54%, rgba(244, 183, 171, 0.5) 71%); background-blend-mode: color-dodge,screen,lighten,normal;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}