.board {
    display: grid;
    background: rgba(255, 255, 255, 0.32);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
    border: 1px solid rgba(255, 255, 255, 0.28);
    grid-template-columns: repeat(3, 9rem);
    place-items: center;
    justify-content: center;
    min-height: 35rem;
    background-color: linear-gradient(128deg, rgba(140,150,254,0.6), rgba(51,113,250,0.4));
    border-radius: 10px;
}