.board {
    display: grid;
    grid-template-columns: repeat(3, 9rem);
    place-items: center;
    justify-content: center;
    min-height: 35rem;
    background-color: linear-gradient(128deg, rgba(140,150,254,0.6), rgba(51,113,250,0.4));
    border: 0.1rem solid aliceblue;
    border-radius: 10px;
}