body {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #0080001a;
}

.board {

    width: 70vmin;
    height: 70vmin;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;

}

.cell {
    width: 32%;
    height: 32%;
    background-color: aquamarine;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 15px;
    font-size: 14vmin;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    text-shadow: 1px 1px 6px #4b4b4b;
    user-select: none;

}

.board>.cell :hover {
    box-shadow: 0px 0px 6px #ababab;
}

.board>.cell.X {
    background-color: #dc685a;

}

.board>.cell.O {
    background-color: #ecaf4f;

}

.board>.result {
    background-color: #135403fa;
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 40px;

}

.board>.result button {

    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 65px;
    font-size: 17px;
}


.button:active {
    opacity: .5;
}

.board>.result button:hover,
button:active {
    background-color: initial;
    background-position: 0 0;
    color: #f08e0d;

}


.board>.result button:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.board>.result button:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}