.restartButton{
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(224, 144, 218);
    color: aliceblue;
    font-size: 2rem;
    padding:10px;
    margin: 10px;
    
    cursor: pointer;
    text-align: center;
}
.restartButton:hover{
    background-color: rgb(137, 70, 182);
}