/* .square{
    width: 33%;
    height: 96%;
    background-color:rgb(190, 189, 189);
    cursor: pointer;
    display: grid;
    place-items: center;
    font-size: large;
    color: black;
    border-radius: 10px;
    margin: 2px;
} */

/* .square:active{
    background-color: rgb(173, 169, 169);
    width:30%;
    height: 93%;
} */

.square {
  align-items: center;
  background-clip: padding-box;
  background-color: #61a845;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 35px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 33%;
}

.square:hover,
.square:focus {
  background-color: #9fb68a;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.square:hover {
  transform: translateY(-1px);
}

.square:active {
  background-color: #1c5f0b;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}