.box {
    border: none;
    border-radius: 10%;
    box-shadow: 0px 0px 8px #888888;
    background: rgba(245, 239, 239, 0.47);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid #9bb8e2b1;
    width: 6.5rem;
    height: 6.5rem;
    text-align: center;
    font-size: 5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    line-height: 5rem;
    margin: 1rem;
  }
  
  .x {
    color: rgb(246, 118, 95);
  }
  
  .o {
    color: rgb(44, 135, 255);
  }
  
  .box:hover {
    box-shadow: 1px 1px 15px #A9C8DD;
  }