body {
  /* background-color: white; */
  /* color: white; */
  display: flex;
  justify-content: space-around;
  margin-top: 220px;
  overflow: hidden;
}

.App>.board {
  /* background-color: #fff; */
  max-width: 480px;
  max-height: 480px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.App>.board>.card {
  background-color: #78bfc5;
  width: 150px;
  height: 150px;
  margin: 5px;
  border-radius: 10px;
  
  cursor: pointer;
  color: white;
  font-size: 130px;
  text-align: center;
  line-height: 130px;
  
  transition-duration:  0.3s;
}

.App>.board>.card:hover {
  box-shadow: -1px 1px 8px #474646;
  transition-duration: 200ms;
}


.App>.board>.card.O {
  background-color: #ebaf4f;
}

.App>.board>.card.X{
  background-color: #dc6859;
}
