body {
  /* background-color: white; */
  /* color: white; */
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
  overflow: hidden;
}

.App>.turn {
  font-weight: 500;
  width: fit-content;
  margin: 10px auto;
  padding: 0 20px;
  border-radius: 10px;
  line-height: 60px;
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: white;
}

.App>.turn.X {
  background-color: #dc6859;
}
.App>.turn.O {
  background-color: #ebaf4f;
}

.App>.results {
  border: 1px solid #aeaeae;
  padding: 3px 10px;
  border-radius: 10px;
  font-weight: 500;
  margin: 0 15px;
  display: flex;
  justify-content: space-between;
  font-size: 40px;
}

.App>.results>.X {
  background-color: #dc6859;
  color: white;
  padding: 0 10px;
}

.App>.results>.O {
  background-color: #ebaf4f;
  color: white;
  padding: 0 10px;
}