body {
    background-color: rgb(24 24 24 / 73%);

}

.o {


    color: rgb(124, 11, 11);




}

.x {


    color: rgb(21, 148, 14);



}

.hov:hover {

    cursor: pointer;
    background-color: #cfcf81;

}

.hov1:hover {

    cursor: pointer;


}

.div1 {

    padding: 40px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 12px 11px 6px 0px black;
    background-color: rgb(41 44 42 / 93%);
    width: 90px;
    height: 65px;
    font-size: 100px;
z-index: -1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.nothing {

}
.XCSS {

    height: 487px;
    background: rgba(255, 0, 0, 0.129);
    position: relative;
    width: 582px;
    top: -100%;
    z-index: 1;
    left: 4px;
}
.DCSS {

    height: 498px;
    background: rgb(97 135 13 / 37%);
    position: relative;
    width: 582px;
    top: -102%;
    z-index: 1;
    left: 4px;
 
}
.OCSS {

    height: 487px;
    background: rgb(0 255 0 / 30%);
    position: relative;
    width: 582px;
    top: -100%;
    z-index: 1;
    left: 4px;
    display: block;
}
.winner{
    font-style: oblique;
    FONT-WEIGHT: 100;
    opacity: 1;
    display: flex;
    position: relative;
    top: 158px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 72px;

    flex-direction: column;
    align-items: center;
  
   
}

.wrap {
    margin-top: 230px;
    height: 484px;
    top: 10px;
    position: relative;
    bottom: 50%;
    width: 580px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 0;
}
.flex{
    display: flex;
    border: 5px black solid;
    position: relative;
    top: 207px;
    justify-content: space-between;
    padding: 4px;
    font-size: x-large;
    font-weight: 600;
}

.model {

    left: 3px;
    background-color: rgb(208 208 29 / 21%);
    position: relative;
    width: 100%;
    height: 492px;
    z-index: 5;
    top: 13%;
    
}
 .reset{

    cursor: pointer;
    width: 82px;
    height: 36px;
    font-size: x-large;
    background-color: brown;
 }
 .res{

 }
 .res1{
   display: none;
     }